[Unit]
Description=Run Eadxm Automated Arch Linux Installation
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/auto-install.sh
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=multi-user.target